---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const { frontmatter } = Astro.props;
const published = new Date(frontmatter.pubDate);
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="max-w-2xl">
        <Text
          tag="p"
          variant="textXS"
          class="text-primary/60 font-mono font-medium uppercase"
        >
          <time datetime={published.toISOString()}>
            {published.toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "2-digit",
            })}
          </time>
        </Text>

        <Text
          tag="h1"
          variant="display3XL"
          class="text-primary font-semibold tracking-tighter text-balance mt-2"
        >
          {frontmatter.title}
        </Text>

        <div class="mt-4 flex flex-wrap items-center gap-2">
          {frontmatter.tags.map((tag) => (
            <a
              href={`/archive/tags/${tag}`}
              class="text-primary font-mono text-xs font-medium uppercase duration-300 hover:underline"
            >
              {tag}
            </a>
          ))}
        </div>

        <Text tag="p" variant="textBase" class="text-primary/70 mt-4">
          {frontmatter.description}
        </Text>
      </div>

      {frontmatter.image?.url && (
        <div class="mt-10">
          <Image
            width={900}
            height={450}
            alt={frontmatter.image?.alt ?? frontmatter.title}
            src={frontmatter.image.url}
            class="w-full max-h-64 rounded object-cover object-center"
          />
        </div>
      )}

      <Wrapper variant="prose" class="mt-6">
        <slot />
      </Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
